<footer class="footer">
    <p class="footer__p">© 2021 | Nicolás Cáceres Sala, todos los derechos reservados.</p>

    <ul class="footer__socialLinks">
        <li>
            <a href="https://twitter.com/home" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
</footer>