<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a class="home" href={% url 'url-inicio'  %}>Sistema de Recursos Humanos</a>
            </li>
            <li>
                <a href={% url 'url-empleados'  %}>Empleados</a>
                <ul class="menu vertical">
                    <li><a href={% url 'url-empleados'  %}>Listado de Empleados</a></li>
                    <li><a href={% url 'url-crear-empleados'%}>Altas de Empleados</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Departamentos</a>
                <ul class="menu vertical">
                    <li><a href="{% url 'url-departamentos' %}">Listar Departamentos</a></li>
                    <li><a href="{% url 'url-crear-departamentos' %}">Alta Departamentos</a></li>
                </ul>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="{% url 'url-crear-departamentos' %}">Acerca de mí</a></li>
            <li>
                {% comment %} <input type="search" placeholder="Search"><a class="button success" href="{% url 'url-empleados' %}">Más detalles</a></input> {% endcomment %} 
            </li>
            {% if not user.is_anonymous %}
                <li><a class="button warning button-login" href="{% url 'url-profile-usuario' %}">Perfil</a></li>
            {% else %}
                <a class="button success button-login" href="{% url 'url-login-usuario'%}">Acceder</a>
            {% endif %}
            <a class="button primary" href="{% url 'url-registro-usuario'%}">Registro</a>
        </ul>
    </div>
</div>