{% extends 'inicio/index.html' %}

{% block title %}
<title>Listado de Departamentos</title>
{% endblock title%}

{% block body_block %}

    
        <div class="grid-container">
            <h1>Listado Departamentos</h1>
            
            <form class="formulario" action={% url 'url-departamentos' %} method="GET">
                <fieldset class="formulario__fieldset">
            
                    <legend class="formulario__legend">Complete todos los campos</legend>
            
                    <div class="formulario__contenedorCampos">
            
                        <div class="formulario__contenedorCampos__campo">
                            <label class="formulario__campo__label" for="numero">Numero</label>
                            <input class="formulario__campo__inputTexto" type="text" name="nombre_buscado" placeholder="Ingrese numero a buscar"
                                id="nombre_buscado">
                        </div>
            
            
                    </div>
                    
                    <div class="contenedorBotones">
                        <button class="contenedorBotones__boton contenedorBotones__boton--widht100" type="submit">Buscar</button>
                    </div>
                </fieldset>
            </form> 
        
        {% if departamentos %} 
            <table class="cell">
                <thead>
                    <tr>
                        <th width="50">Id</th>
                        <th width="80">Nombre</th>
                        <th width="80">Nombre Corto</th>
                        <th width="80">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for departamento in departamentos %}
                    <tr>
                        <td>{{departamento.id}}</td>
                        <td>{{departamento.name}}</td>
                        <td>{{departamento.short_name}}</td>
                        <td>
                            <a class="button warning" href="{% url 'url-actualizar-departamentos' departamento.id %}">Editar</a>
                            <a class="button alert" href="{% url 'url-eliminar-departamentos' departamento.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif error%}
            <h3>{{error}}</h3>
        {% else %}
            {% if mensaje %}
                {{mensaje}}
            {% else %}
                <h3>No se encontraron departamentos con ese nombre</h3> 
            {% endif %}    
        {% endif %} 
        </div>
        

{% endblock body_block %}

