{% extends 'inicio/index.html' %}

{% block title %}
<title>Registro de Empleado</title>
{% endblock title%}

{% block body_block %}

    <div class="grid-container">
        <h1 class="cell">Registrar Empleados</h1>
        
        <div class="cell">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button success">Registrar</button>
                <a class="button primary" href="{% url 'url-inicio'  %}">Cancelar</a>  
            </form>
        </div>
    </div>

{% endblock body_block %}


    