{% extends 'inicio/index.html' %}
{% load static %}

{% block title %}
<title>Detalle de Empleados</title>
{% endblock title%}

{% block body_block %}
    <h1 class="cell">Detalle Empleado</h1>

    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell large-8 card" style="width: 500px; margin-top: 10px;">
                <div class="card-divider">
                    {{ object.position }}
                </div>
                {% if object.avatar_employees %}
                    <img src="{{ object.avatar_employees.url }}">
                {% else %}
                    <img src="{% static 'images/rh3.jpg' %}">
                {% endif %}

                <div class="card-section">
                    <h4>{{ object.get_full_name }}</h4>
                    <p>{{ object.email }}</p>
                    <p>{{ object.phoneNumber }}</p>
                    <p>{{ object.mobile_phone }}</p>
                    <p>{{ object.position }}</p>
                    <p>{{ object.department.name }}</p>
                </div>
                <a class="button primary cell" href="{% url 'url-empleados'  %}">Volver Atrás</a>
            </div>
        </div>
    </div>
{% endblock body_block %}