{% extends 'inicio/index.html' %}


{% block header %}
    <nav class="header__nav">
        <ul class="header__nav__enlaces" id="header__nav__enlaces">
            <li class="header__nav__enlaces__li">
                <a class="header__nav__enlaces__a" href={% url 'url-inicio' %}>HOME</a>
            </li>
            <li class="header__nav__enlaces__li">
                <a class="header__nav__enlaces__a"  href={% url 'url-jefes' %}>Listado Jefes</a>
            </li>
            <li class="header__nav__enlaces__li">
                <a class="header__nav__enlaces__a"
                href={% url 'url-crear-jefes' %}>Crear Jefes</a>
            </li>
            <li class="header__nav__enlaces__li">
                <a class="header__nav__enlaces__a"
                href={% url 'url-empleados' %}>Listado Empleados</a>
            </li>
            <li class="header__nav__enlaces__li">
                <a class="header__nav__enlaces__a"
                href={% url 'url-crear-empleados' %}>Crear Empleados</a>
            </li>
        </ul>
    </nav>
{% endblock header %}

{% block body_block %}
        <h1>Pagina inicio - Empleados</h1>
{% endblock body_block %}
    
