{% extends 'employees/home_employees.html' %}

{% block head_block %}
<title>Listado de Empleados</title>
{% endblock head_block %}

{% block body_block %}

<div class="grid-container">
    <h1 class="cell">Listado Empleados</h1>

    <form class="formulario cell" action={% url 'url-empleados' %} method="GET">
        <fieldset class="formulario__fieldset">

            <legend class="formulario__legend">Complete todos los campos</legend>

            <div class="formulario__contenedorCampos">

                <div class="formulario__contenedorCampos__campo">
                    <label class="formulario__campo__label" for="numero">Nombre</label>
                    <input class="formulario__campo__inputTexto" type="text" name="nombre_buscado"
                        placeholder="Ingrese numero a buscar" id="nombre_buscado">
                </div>


            </div>

            <div class="contenedorBotones">
                <button class="contenedorBotones__boton contenedorBotones__boton--widht100"
                    type="submit">Buscar</button>
            </div>
        </fieldset>
    </form>

    <ul class="cell primary">
        <table class="tablas">
            <thead>
                <tr>
                    <th width="50">ID</th>
                    <th width="150">NOMBRE</th>
                    <th width="150">APELLIDO</th>
                    <th width="150">DEPARTAMENTO</th>
                    <th width="50">MAS INFORMACION</th>
                </tr>
            </thead>
            <tbody>
                {% if empleados %}
                {% for empleado in empleados %}
                <tr>
                    <td>{{empleado.id}}</td>
                    <td>{{empleado.first_name}}</td>
                    <td>{{empleado.last_name}}</td>
                    <td>{{empleado.departamento}}</td>
                    <td><a class="button success" href="#">Ver</a></td>
                </tr>
                {% endfor %}
                {% elif error%}
                <h3>{{error}}</h3>
                {% else %}
                <h3>No se encontraron empleados con ese nombre.</h3>
                {% endif %}
            </tbody>
        </table>
        
    </ul>
</div>



{% endblock body_block %}


{% comment %} {% if empleados %}
{% for empleado in empleados %}
<li>
    {{empleado}}
</li>
{% endfor %}
{% elif error%}
<h3>{{error}}</h3>
{% else %}
<h3>No se encontraron empleados con ese nombre.</h3>
{% endif %} {% endcomment %}