{% extends 'inicio/index.html' %}

{% block title %}
<title>Listado de Empleados</title>
{% endblock title%}

{% block body_block %}


<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Listado Empleados</h1>
        <form method="GET" class="cell grid-x grid-margin-x">
            <div class="cell large-7">
                <input type="text" id="kword" name="kword"
                    placeholder="Ingrese el el nombre o apellido del empleado a buscar">
            </div>
            <div class="cell large-2">
                <button class="submit primary button">Buscar</button>
            </div>
        </form>

        <!-- Lista de empleados-->
        {% if object_list %}
            <table class="cell">
                <thead>
                    <tr>
                        <th width="50">Id</th>
                        <th width="80">Nombre</th>
                        <th width="80">Apellido</th>
                        <th width="100">Puesto</th>
                        <th width="150">Departamento</th>
                        <th width="200">Más Información</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in object_list %}
                    <tr>
                        <td>{{employee.id}}</td>
                        <td>{{employee.first_name}}</td>
                        <td>{{employee.last_name}}</td>
                        <td>{{employee.position}}</td>
                        <td>{{employee.department}}</td>
                        <td>
                            <a class="button success" href="{% url 'url-detail' employee.id %}">Más detalles</a>
                            <a class="button warning" href="{% url 'url-update' employee.id %}">Editar</a>
                            <a class="button alert" href="{% url 'url-delete' employee.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h5>Todavía no hay empleados en el sistema</h5>
        {% endif %}

        <!-- Paginacion-->
        <div class="cell">
            {% if is_paginated %}
            <nav aria-label="Pagination">
                <ul class="pagination text-center">
                    {% if page_obj.has_previous %}
                    <li class="pagination-previous">
                        <a href="?page={{page_obj.previous_page_number}}">Página Anterior</a>
                    </li>
                    {% endif %}

                    {% for pagina in paginator.page_range %}
                    {% if pagina == page_obj.number%}
                    <li class="current"><span class="show-for-sr">You're on page</span>{{pagina}}</li>
                    {% else %}
                    <li>
                        <a href="?page={{pagina}}" aria-label="Page 2">{{pagina}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="pagination-next">
                        <a href="?page={{page_obj.next_page_number}}">Página Siguiente</a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>

{% endblock body_block %}