<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link href={% static 'inicio/css/styles.css' %} rel="stylesheet" />
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_block %}
    <title>Inicio Empleados</title>
    {% endblock head_block %}

    <script src="https://kit.fontawesome.com/09861335cf.js" crossorigin="anonymous"></script>

</head>
<body>

    <header class="header">
        <nav class="header__nav">
            <ul class="header__nav__enlaces" id="header__nav__enlaces">
                <li class="header__nav__enlaces__li">
                    <a class="header__nav__enlaces__a" href={% url 'url-inicio' %}>HOME</a>
                </li>
                <li class="header__nav__enlaces__li">
                    <a class="header__nav__enlaces__a"  href={% url 'url-jefes' %}>Listado Jefes</a>
                </li>
                <li class="header__nav__enlaces__li">
                    <a class="header__nav__enlaces__a"
                    href={% url 'url-crear-jefes' %}>Crear Jefes</a>
                </li>
                <li class="header__nav__enlaces__li">
                    <a class="header__nav__enlaces__a"
                    href={% url 'url-empleados' %}>Listado Empleados</a>
                </li>
                <li class="header__nav__enlaces__li">
                    <a class="header__nav__enlaces__a"
                    href={% url 'url-crear-empleados' %}>Crear Empleados</a>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        {% block body_block %}
        <h1>Pagina inicio - Empleados</h1>
        {% endblock body_block %}
    </section>

    <footer class="footer">
        <p class="footer__p">© 2021 | Nicolás Cáceres Sala, todos los derechos reservados.</p>

        <ul class="footer__socialLinks">
            <li>
                <a href="https://twitter.com/home" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </footer>
    
    
</body>
</html>