{% extends 'employees/home_employees.html' %}

{% block head_block %}
<title>Listado de Jefes</title>
{% endblock head_block %}

{% block body_block %}

    <h1>Listado Jefes</h1>

    <form form class="formulario" action={% url 'url-jefes' %} method="GET">
        <fieldset class="formulario__fieldset">

            <legend class="formulario__legend">Complete todos los campos</legend>

            <div class="formulario__contenedorCampos">

                <div class="formulario__contenedorCampos__campo">
                    <label class="formulario__campo__label" for="numero">Numero</label>
                    <input class="formulario__campo__inputTexto" type="text" name="nombre_buscado" placeholder="Ingrese numero a buscar"
                        id="nombre_buscado" >
                </div>


            </div>
            
            <div class="contenedorBotones">
                <button class="contenedorBotones__boton contenedorBotones__boton--widht100" type="submit">Buscar</button>
            </div>
        </fieldset>
    </form> 

    <ul>

        {% if jefes %} 
            {% for jefe in jefes %}
                <li>
                    {{jefe}}
                </li>
            {% endfor %}
        {% elif error%}
            <h3>{{error}}</h3>
        {% else %}
            <h3>No se encontraron jefes con ese nombre.</h3>
        {% endif %}

    </ul> 


{% endblock body_block %}

