
{% extends 'inicio/index.html' %}

{% block head_block %}
<title>Editar Usuario</title>
{% endblock head_block %}

{% block body_block %}
    <div class="grid-container">
        <h1 class="cell">Actualizar Datos</h1>
        
        <div class="cell">
            {% comment %} <form action='' method="POST">
                {% csrf_token %}
                <table>
                    {{form}}
                </table>
                <input type="submit" placeholder="Enviar">
            </form> {% endcomment %}
            <form class="formulario formulario--empleados" method='POST'> {% csrf_token %}
                <fieldset class="formulario__fieldset">
                    <legend class="formulario__legend">MODIFIQUE LOS CAMPOS QUE DESEA ACTUALIZAR</legend>
                    <div class="formulario__contenedorCampos__campo">
                        <label class="formulario__campo__label" for="text">Nombre {{form.first_name}}</label>
                    </div>
                    <div class="formulario__contenedorCampos__campo">
                        <label class="formulario__campo__label" for="text">Apellido {{form.last_name}}</label>
                    </div>
                    <div class="formulario__contenedorCampos__campo">
                        <label class="formulario__campo__label" for="text">Genero {{form.gender}}</label>
                    </div>
                    
                    <button type="submit" class="button success">Actualizar</button>
                </fieldset>
            </form>
            {% comment %} <form method="POST">{% csrf_token %}
                {{ form }}
            </form> {% endcomment %}
        </div>
    </div>
{% endblock body_block %}
    
