{% extends 'inicio/index.html' %}

{% block head_block %}
<title>Perfil de Usuarios</title>
{% endblock head_block %}

{% block body_block %}

    <div class="grid-container">
        <h1 class="cell">Perfil de Usuario</h1>
        
        <div class="cell">
            <h3>Bienvenido: {{user}}</h3>
            <ul>
                <li><a href="{% url 'url-logout-usuario' %}">Cerrar Sesion</a></li>
                <li><a href="{% url 'url-ver-usuario' user.id %}">Ver Datos</a></li>
                <li><a href="{% url 'url-editar-usuario' user.id %}">Actualizar Datos</a></li>
                <li><a href="{% url 'url-update-pwd-usuario' %}">Actualizar Contraseña</a></li>
            </ul>
        </div>
    </div>

{% endblock body_block %}

