
{% extends 'inicio/index.html' %}

{% block head_block %}
<title>Verificación de email</title>
{% endblock head_block %}

{% block body_block %}
    <div class="grid-container">
        <h1 class="cell">Verificación de Email</h1>
        
        <div class="cell">
            <h3>Ingrese el código de verificación:</h3>
            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button success">Confirmar</button>
            </form>
        </div>
    </div>
{% endblock body_block %}
    